/*
Theme Name:     Entrepreneur - Child Theme
Theme URI:      http://themovation.com/entrepreneur
Template:       entrepreneurx
Author:         Themovation
Author URI:     http://themovation.com
Version:        2.0
Text Domain:    entrepreneur
Domain Path:    /languages/
*/

/* = Theme customization starts here
-------------------------------------------------------------- */

/* Importing various versions of Montserrat

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700');

*/

/* @font-face {
  font-family: "Gotham";
  src: url("/wp-content/uploads/2020/05/GothamBold.woff")
      format("woff"),
    url("/wp-content/uploads/2020/05/GothamBold.ttf")
      format("truetype"),
    url("/wp-content/uploads/2020/05/GothamBold.svg#svgFontName")
      format("svg"); 
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src:  url("/wp-content/uploads/2020/05/GothamBoldItalic.woff")
      format("woff"),
     url("/wp-content/uploads/2020/05/GothamBold.ttf")
      format("truetype"),
    
      url("/wp-content/uploads/2020/05/GothamBold.svg#svgFontName")
      format("svg"); 
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src:  url("/wp-content/uploads/2020/05/GothamBook.woff")
      format("woff"),
     url("/wp-content/uploads/2020/05/GothamBook.ttf")
      format("truetype"),
    
      url("/wp-content/uploads/2020/05/GothamBook.svg#svgFontName")
      format("svg"); 
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src:  url("/wp-content/uploads/2020/05/GothamBookItalic.woff")
      format("woff"),
    
      url("/wp-content/uploads/2020/05/GothamBookItalic.ttf") format("truetype"),
    
      url("/wp-content/uploads/2020/05/GothamBookItalic.svg#svgFontName")
      format("svg"); 
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src:  url("/wp-content/uploads/2020/05/GothamMedium.woff")
      format("woff"),
     url("/wp-content/uploads/2020/05/GothamMedium.ttf")
      format("truetype"),
    
      url("/wp-content/uploads/2020/05/GothamMedium.svg#svgFontName")
      format("svg"); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src:  url("/wp-content/uploads/2020/05/GothamMediumItalic.woff")
      format("woff"),
    
      url("/wp-content/uploads/2020/05/GothamMediumItalic.ttf")
      format("truetype"),
    
      url("/wp-content/uploads/2020/05/GothamMediumItalic.svg#svgFontName")
      format("svg"); 
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src:  url("/wp-content/uploads/2020/05/GothamLight.woff")
      format("woff"),
     url("/wp-content/uploads/2020/05/GothamLight.ttf")
      format("truetype"),
    
      url("/wp-content/uploads/2020/05/GothamLight.svg#svgFontName")
      format("svg"); 
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src:  url("/wp-content/uploads/2020/05/GothamLightItalic.woff")
      format("woff"),
    
      url("/wp-content/uploads/2020/05/GothamLightItalic.ttf")
      format("truetype"),
    
      url("/wp-content/uploads/2020/05/GothamLightItalic.svg#svgFontName")
      format("svg"); 
  font-weight: 300;
  font-style: italic;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
body,
p,
li {
  font-family: "Gotham" !important;
}

select {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
} */

body {
  background: white;
}

#logo {
  margin: 10px 0 !important;
}

.navbar .navbar-nav {
  margin-top: 3px !important;
}

.navbar .navbar-toggle {
  top: 0px !important;
}

.headhesive--clone #logo img {
  max-height: 37px !important;
}

.top-nav {
  background: white !important;
}

.header-book-button {
  float: left;
  margin-left: 30%;
  margin-top: 10px;
  height: 40px;
}

.header-book-button a,
.header-book-button-mobile a {
  color: #ffffff;
  background-color: #182f4c;
}

.icon-block:last-child span {
  color: #769dd2;
  font-weight: 500;
}

/* hide page headers */
h1.entry-title {
  display: none !important;
}

/* Footer style */

.footer {
  background: #182f4c;
}

.footer-btm-bar {
  display: none;
}

.footer .widget.widget-social {
  text-align: center !important;
}

.footer .soc-widget i {
  color: white !important;
}

.footer .footer-area-1 section {
  width: 32%;
  float: left;
  padding: 0px 5px;
}

.footer .footer-area-1 h3.widget-title {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #ffffff !important;
  margin-bottom: 10px;
  padding-bottom: 0px !important;
  border-bottom: initial !important;
}

.footer .widget_nav_menu {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.2px;
  color: #f2fbff;
}

.footer .footer-address {
  line-height: 1.67;
  letter-spacing: 0.2px;
  color: #f2fbff;
  font-size: 12px !important;
}

.footer .footer-copyright {
  line-height: 1.8;
  letter-spacing: 0.2px;
  color: #f2fbff;
  font-size: 9px !important;
}

/* General style */

h1,
h2,
h3 {
  font-weight: 500 !important;
  letter-spacing: 0.9px;
  color: #182f4c !important;
}

h1 {
  font-size: 14pt !important;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 12pt !important;
}

h3 {
  font-size: 11pt !important;
}

/* Forms */
.frm_forms form label {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 12px !important;
}

/* home sections */

.home-section-shadow {
  -webkit-box-shadow: 0 1px 4px 0 rgba(227, 227, 227, 0.5); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 1px 4px 0 rgba(227, 227, 227, 0.5); /* Firefox 3.5 - 3.6 */
  box-shadow: 0 1px 4px 0 rgba(227, 227, 227, 0.5);
}

/* buttons style */
.elementor-button {
  font-weight: 300;
}
.btn,
.frm_submit input {
  text-transform: uppercase;
  font-size: 10pt;
  letter-spacing: 0.8pt;
}

.homeClassBtn {
  box-shadow: 0 2px 4px 0 rgba(161, 159, 159, 0.25);
  border: solid 0.5px #e3e4e5;
  background-color: rgba(255, 255, 255, 0.85);
  letter-spacing: 0.8pt;
  color: #525b68;
  font-size: 10pt !important;
  font-weight: 500 !important;
  padding: 12px 5px !important;
  width: 180px;
}

.homeClassBtn:hover,
.homeClassBtn:visited {
  color: #525b68 !important;
}

.elementor-button.elementor-size-sm,
body .booked-modal button,
.woocommerce a.button,
.woocommerce button.button {
  border-radius: 0px !important;
  padding: 12px 12px 12px 12px;
}

.frm_style_formidable-style.with_frm_style input[type="submit"] {
  border: 1px solid !important;
  border-radius: 0px !important;
}

html .woocommerce a.button,
html .woocommerce-page a.button,
html .woocommerce a.button.alt,
.woocommerce #respond input#submit.alt,
html .woocommerce-page a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  padding: 12px 12px 12px 12px;
}

#view-classes {
  padding: 12px 12px 12px 12px;
}

/* slider control style for the home page testimonial */
.flex-direction-nav a {
  background-color: white !important;
  color: #a1afc3 !important;
  opacity: 1 !important;
}

.flex-direction-nav a:hover {
  background-color: white !important;
  color: #a1afc3 !important;
  opacity: 1 !important;
}

/* Home Page video style */

#close-video {
  position: absolute;
  top: 5px;
  z-index: 20;
  right: -42%;
  cursor: pointer;
}

#close-video-text {
  position: absolute;
  top: 40px;
  right: -42%;
  z-index: 20;
}

/* Center quantity in My Cart */
.woocommerce .shop_table.cart td.product-quantity {
  text-align: center !important;
}

/* My Account Style */
.woocommerce-account .woocommerce-MyAccount-navigation {
  display: none !important; /* hidden and replaced by central boxes */
}

.woocommerce-MyAccount-content {
  width: 100% !important;
}

button.add_field_button,
.my-account-child-detail input[type="submit"] {
  background: #182f4c;
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  padding: 12px 24px;
  line-height: 19px;
  border-radius: 0;
}
button.add_field_button:hover,
.my-account-child-detail input[type="submit"]:hover {
  background: #3a3b74;
}
.input_fields_wrap {
  margin-bottom: 15px;
  width: 70%;
}
table.form-table {
  width: 100%;
}
table.form-table input {
  width: 100%;
}
table.form-table td {
  padding: 0 5px;
}
table.form-table td:first-child {
  padding-left: 0;
}
/* Responsive style  */

/* Smartphones including iPhone X in landscape  ----------- */
@media only screen and (max-width: 768px) {
  /* hide the "BOOK NOW" btn in header */
  .header-book-button-mobile {
    flex: 1;
    height: 40px;
    text-align: center;
  }
  .header-book-button {
    display: none;
  }
  /* Style the header using flex */
  .navbar-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
  button.navbar-toggle {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
  }
  .header-book-button-mobile .elementor-button.elementor-size-sm {
    padding: 12px 8px;
    font-size: 12px;
    text-align: center;
  }
  div#logo {
    flex: 1;
  }
  #logo img {
    max-height: none !important;
    max-width: 80%;
    width: auto;
  }
  .footer-area-1,
  .footer-area-2,
  .footer-area-3 {
    width: 100%;
    float: left;
  }
}

/*  ipad in portrait ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* hide the small top header cart icon - there's a big one in the menu */
  .icon-block:last-child {
    display: none;
  }
  .header-book-button {
    display: none;
  }
  .navbar .caret {
    display: inline-block;
  }
  .header-book-button-mobile {
    flex: 1;
    height: 40px;
    text-align: center;
  }
  /* Style the header using flex */
  .container .navbar-header {
    width: 100%;
  }
  .navbar-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
  button.navbar-toggle {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
  }
  .header-book-button-mobile .elementor-button.elementor-size-sm {
    padding: 12px 12px 12px 12px;
    font-size: 14px;
    text-align: center;
  }
  div#logo {
    flex: 1;
  }
  #logo img {
    max-height: none !important;
    max-width: 80%;
    width: auto;
  }
  /* Undo the normal menu */
  .container > nav.collapse.navbar-collapse.bs-navbar-collapse,
  .container > .themo_cart_icon {
    display: none !important;
  }
  .container > nav.collapse.navbar-collapse.bs-navbar-collapse.in {
    display: inherit !important;
  }
  /* style the menu for desktop */
  .navbar .navbar-nav {
    margin-top: 10px;
    background-color: #eee;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
  }
  /* home page carousel nav buttons */
  .flex-direction-nav .flex-prev {
    left: 10% !important;
  }
  .flex-direction-nav .flex-next,
  .flex-direction-nav .flex-next:hover {
    right: 10% !important;
  }
  /* Make the WooCommerce account login page display correctly (i.e. in two proper columns) */
  .woocommerce #customer_login.col2-set,
  .woocommerce-page #customer_login.col2-set {
    width: 100% !important;
    margin-right: 0% !important;
  }

  .woocommerce #customer_login.col2-set .col-1,
  .woocommerce-page #customer_login.col2-set .col-1 {
    float: left;
    width: 48% !important;
  }
  .woocommerce #customer_login.col2-set .col-2,
  .woocommerce-page #customer_login.col2-set .col-2 {
    float: right;
    width: 48%;
  }
}

/* laptops and ipad in landscape ----------- */

@media only screen and (min-width: 1025px) {
  /* hide the small top header cart icon - there's a big one in the menu */
  .icon-block:last-child {
    display: none;
  }
  .header-book-button {
    display: none;
  }
  .navbar .caret {
    display: inline-block;
  }
  /* Style the header using flex */
  .container .navbar-header {
    width: 100%;
  }
  .navbar-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
  button.navbar-toggle {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
  }
  .header-book-button-mobile .elementor-button.elementor-size-sm {
    padding: 12px 12px 12px 12px;
    font-size: 14px;
    text-align: center;
  }
  div#logo {
    flex: 1;
  }
  #logo img {
    max-width: 80%;
    width: auto;
  }
  /* Undo the normal menu */
  .container > nav.collapse.navbar-collapse.bs-navbar-collapse,
  .container > .themo_cart_icon {
    display: none !important;
  }
  .container > nav.collapse.navbar-collapse.bs-navbar-collapse.in {
    display: inherit !important;
  }
  /* style the menu for desktop */
  .navbar .navbar-nav {
    margin-top: 10px;
    background-color: #eee;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
  }

  /* home page carousel nav buttons */
  .flex-direction-nav .flex-prev {
    left: 10% !important;
  }
  .flex-direction-nav .flex-next,
  .flex-direction-nav .flex-next:hover {
    right: 10% !important;
  }
  /* Make the WooCommerce account login page display correctly (i.e. in two proper columns) */
  .woocommerce #customer_login.col2-set,
  .woocommerce-page #customer_login.col2-set {
    width: 100% !important;
    margin-right: 0% !important;
  }

  .woocommerce #customer_login.col2-set .col-1,
  .woocommerce-page #customer_login.col2-set .col-1 {
    float: left;
    width: 48% !important;
  }
  .woocommerce #customer_login.col2-set .col-2,
  .woocommerce-page #customer_login.col2-set .col-2 {
    float: right;
    width: 48%;
  }
  /* My Account margin on bottom row */
  .elementor-element-cf1648c {
    padding-left: 15%;
    padding-right: 15%;
  }
}

/* Phones */
@media only screen and (max-width: 767px) {
  /* hide teh email and phne icon in top header */
  .icon-block:first-child,
  .icon-block:nth-child(2) {
    display: none;
  }
  /* show the text of the icon for My Account and Cart */

  .icon-block:nth-child(3) span,
  .icon-block:last-child span {
    display: inline-block !important;
  }

  .input_fields_wrap {
    width: 100%;
  }
  table.form-table td {
    padding: 0;
    float: left;
    width: 100%;
    margin-top: 10px;
  }
  button.add_field_button,
  .my-account-child-detail input[type="submit"] {
    font-size: 12px;
  }
}
.tablehideone {
  display: none;
}
.tablehidetwo {
  display: none;
}

.pika-label {
  border: none;
  text-align: center;
  text-decoration: none;
  margin: 4px 4px !important;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
}
