.admin-week-class-wrapper p.calendar-selector {
  float: left;
}

.admin-week-class-wrapper p.calendar-selector.margin-left {
  margin-left: 15px;
}

body table.admin-week-table thead th {
  text-align: center !important;
}
body table.admin-week-table thead th {
  position: relative;
  padding: 0.75em 1em !important;
}
body table.admin-week-table th .page-left {
  font-size: 1.3rem;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -0.65rem;
}
body table.admin-week-table th .page-right {
  font-size: 1.3rem;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -0.65rem;
}

body table.admin-week-table thead th .page-left {
  left: 20px;
  top: 50%;
  font-size: 1rem;
  margin-top: -0.5rem;
}
body table.admin-week-table thead th .page-right {
  right: 20px;
  top: 50%;
  font-size: 1rem;
  margin-top: -0.5rem;
}

.back-to-classes {
  padding: 10px 0px;
}

/* Class Detail page, showing the kids booked for a given class */

table.admin-class-detail thead th {
  padding: 0.75em 1em !important;
}

/* Order detail page - making fonts smaller to add children */
p#child-name,
select#child-name-select,
#child-detail a {
  font-size: 11px;
}

/* change some width too */
p#child-name {
  width: 25% !important;
}
p#child-name-select {
  width: 40% !important;
}
select#select_saved_child_info {
  width: 80% !important;
}
#child-detail a {
  width: 20%;
}

/* Admin Class Detail - DOB field */
.class-name-dob {
  font-size: 11px;
}
